@import "tailwindcss";

.header{
    background: url("https://i.pinimg.com/originals/d3/e3/8f/d3e38f77801c4ffe2f75384a3c3f2be9.jpg");
}
.main{
    background: url("https://images.pexels.com/photos/15714016/pexels-photo-15714016/free-photo-of-peyzaj-manzara-daglar-orman.jpeg?auto=compress&cs=tinysrgb&w=1600");
}
.city{
    background: url(" https://69.mchs.gov.ru/uploads/resize_cache/news/2024-02-06/69e13d2da1d0ef4027ed6bfa4d6deeed__2000x2000.jpg");
}
